<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   
        @RenderBody()
        <a href="~/Sach/Input" style="float:right">Thêm mới Sách</a>
   
</body>
</html>
