
@{
    Layout = null;
    ViewBag.Title = "Bieu ngu chao mung";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>@Model.Message</h2>
        Thông tin khoa <br />
        Tên khoa: @Model.TenKhoa <br />
        Năm thành lập: @Model.namThanhLap
    </div>
</body>
</html>
