
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h4>San Pham Tieu Bieu</h4>
<div class="row container">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card h-100 mb-1">
            <img src="~/Asset/Images/SN1.jpg" class="card-img-top" width="60%" height="170px" />
            <div class="card-body">
                <p class="card-title" style="font-weight: bold;">Sinh nhat 1</p>
                <p class="card-text" style="text-align:justify;">
                    Gia: <span style="color:red;">300,000d</span>
                </p>
                <a href="#" class="btn btn-primary btn-block">Chon mua</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card h-100 mb-1">
            <img src="~/Asset/Images/SN2.jpg" class="card-img-top" width="60%" height="170px" />
            <div class="card-body">
                <p class="card-title" style="font-weight: bold;">Sinh nhat 2</p>
                <p class="card-text" style="text-align:justify;">
                    Gia: <span style="color:red;">300,000d</span>
                </p>
                <a href="#" class="btn btn-primary btn-block">Chon mua</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card h-100 mb-1">
            <img src="~/Asset/Images/SN3.jpg" class="card-img-top" width="60%" height="170px" />
            <div class="card-body">
                <p class="card-title" style="font-weight: bold;">Sinh nhat 3</p>
                <p class="card-text" style="text-align:justify;">
                    Gia: <span style="color:red;">300,000d</span>
                </p>
                <a href="#" class="btn btn-primary btn-block">Chon mua</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card h-100 mb-1">
            <img src="~/Asset/Images/SN4.jpg" class="card-img-top" width="60%" height="170px" />
            <div class="card-body">
                <p class="card-title" style="font-weight: bold;">Sinh nhat 4</p>
                <p class="card-text" style="text-align:justify;">
                    Gia: <span style="color:red;">300,000d</span>
                </p>
                <a href="#" class="btn btn-primary btn-block">Chon mua</a>
            </div>
        </div>
    </div>

</div>
<div class="row container">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card h-100 mb-1">
            <img src="~/Asset/Images/SN1.jpg" class="card-img-top" width="60%" height="170px" />
            <div class="card-body">
                <p class="card-title" style="font-weight: bold;">Sinh nhat 1</p>
                <p class="card-text" style="text-align:justify;">
                    Gia: <span style="color:red;">300,000d</span>
                </p>
                <a href="#" class="btn btn-primary btn-block">Chon mua</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card h-100 mb-1">
            <img src="~/Asset/Images/SN2.jpg" class="card-img-top" width="60%" height="170px" />
            <div class="card-body">
                <p class="card-title" style="font-weight: bold;">Sinh nhat 2</p>
                <p class="card-text" style="text-align:justify;">
                    Gia: <span style="color:red;">300,000d</span>
                </p>
                <a href="#" class="btn btn-primary btn-block">Chon mua</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card h-100 mb-1">
            <img src="~/Asset/Images/SN3.jpg" class="card-img-top" width="60%" height="170px" />
            <div class="card-body">
                <p class="card-title" style="font-weight: bold;">Sinh nhat 3</p>
                <p class="card-text" style="text-align:justify;">
                    Gia: <span style="color:red;">300,000d</span>
                </p>
                <a href="#" class="btn btn-primary btn-block">Chon mua</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card h-100 mb-1">
            <img src="~/Asset/Images/SN4.jpg" class="card-img-top" width="60%" height="170px" />
            <div class="card-body">
                <p class="card-title" style="font-weight: bold;">Sinh nhat 4</p>
                <p class="card-text" style="text-align:justify;">
                    Gia: <span style="color:red;">300,000d</span>
                </p>
                <a href="#" class="btn btn-primary btn-block">Chon mua</a>
            </div>
        </div>
    </div>

</div>


